body { 
background-color: #000000;
 background-image: url(b2.jpg);
 background-repeat: no-repeat;
 background-attachment: fixed }


#goto{
position:relative;
z-index:0;
left:200px;
top:500px;
width:100%;
height:100%
}
